body {
  background-color: #333;
  font-family: Helvetica, Arial, sans-serif;
  color: #ddd;
}
.headie_one {
  color: blue;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: navy;
  color: white;
}
.topnav a.redirect {
  color: #4169e1;
  float: right;
  font-size: 1rem;
  padding: 10px, 10px, 10px, 10px;
}
.land img {
  height: 600px;
  width: 1278px;
  padding: 10px, 10px, 10px, 10px;
  float: left;
  resize: none;
  vertical-align: middle;
  margin: 10px 0px;
}
.intro p {
  width: 500px;
  padding: auto;
  margin: 100px 0px;
  padding: 10px, 10px, 10px, 10px;
  position: relative;
  top: 70px;
}
.intro iframe {
  float: right;
  position: relative;
  bottom: 310px;
  right: 100px;
}
.tab_a table,
th,
td,
tr:nth-child() {
  position: relative;
  border: 4px rgb(15, 14, 14);
  width: 70%;
  top: 100px;
  background-color: #221ff1;
}
tr:nth-child(even) {
  background-color: #101313;
}
.tab_a h2 {
  top: 100px;
}
